---
bodyclass: mx-auto bg-forest-black text-forest-black
---
<div class="loader w-full bg-green-grey fixed items-center">GOLDEN BEAR STUDIOS</div>

{% include "snippets/header.html" %}

<!-- HERO SECTION START -->
<div id="big-hero" class="relative h-screen flex items-center">

    <!-- Parallax Background -->
    <div class="absolute inset-0 bg-cover bg-[center_right_57%] sm:bg-[center_left_40%] md:bg-[center_left_20%] h-screen hero homepage_hero" data-speed="-0.2"></div>

    <div class="container w-full md:mx-auto relative grid grid-cols-12 gap-4 gap-y-12 text-left mx-8 sm:px-8 xl:pl-32 sm:pt-24">
        <!-- H1 spanning 6 columns on medium screens and up -->
        <div class="serif-heading-0 text-dirty-grey col-span-8 md:col-span-12 fade-in">
            <div class="text-tummy-tickle opacity-50">Leave</div>
            <div class="text-doodle-gold opacity-50">the hype</div>
            <div class="text-sienna opacity-50">behind.</div>
        </div>
        <!-- Second line of text taking full width below -->
        <div class="sans-serif-body-2 text-dirty-grey col-span-6 sm:col-span-12 items-start fade-in inline">
            Follow the way of the Golden Bear
            <i class="fa-solid fa-arrow-down"></i>
        </div>
    </div>
</div>

<!-- HERO SECTION END -->

<!-- CONTENT START -->
<div class="mx-8 md:mx-0 bg-green-grey">


    <!-- HEADLINE -->
    <div class="container mx-auto pt-[10px] pb-[0px] sm:pt-[90px] sm:pb-[40px] grid grid-cols-12">
        <h1 class="serif-heading-2 col-span-10 fade-in">Providing end-to-end digital product design services, Golden Bear Studios specialises in creating thoughtful, impactful experiences, guided by an artist’s eye and a designer’s approach - and maybe something a little golden.</h1>
    </div>

    <div id="home-work-icons" class="py-24">
        <div class="container mx-auto px-6">
            <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-8 text-left sans-serif-body-2 text-forest-black hover-zoom fade-in">

                <!-- Icon 1 -->
                <div class="flex flex-col items-start ">
                    <img src="img/icons/layer.png" alt="Illustration" class="2xl:w-24 w-16">
                    <p class="mt-8">Digital product design</p>
                </div>

                <!-- Icon 2 -->
                <div class="flex flex-col items-start">
                    <img src="img/icons/branding.png" alt="UI/UX Design" class="2xl:w-24 w-16">
                    <p class="mt-8">Concept design &amp; prototyping</p>
                </div>

                <!-- Icon 3 -->
                <div class="flex flex-col items-start">
                    <img src="img/icons/colour.png" alt="Branding" class="2xl:w-24 w-16">
                    <p class="mt-8">Graphic design</p>
                </div>

                <!-- Icon 4 -->
                <div class="flex flex-col items-start">
                    <img src="img/icons/laptop.png" alt="Motion Design" class="2xl:w-24 w-16">
                    <p class="mt-8">Design systems</p>
                </div>

                <!-- Icon 5 -->
                <div class="flex flex-col items-start">
                    <img src="img/icons/layout.png" alt="Art Direction" class="2xl:w-24 w-16">
                    <p class="mt-8">Illustration</p>
                </div>

                <!-- Icon 6 -->
                <div class="flex flex-col items-start">
                    <img src="img/icons/infographics.png" alt="Creative Strategy" class="2xl:w-24 w-16">
                    <p class="mt-8">2D animation</p>
                </div>

            </div>

            <!-- CALL TO ACTION -->
            <div class="fade-in pt-24">
                <a class="custom-button" href="work.html">
                  View work & case studies
                  <i class="arrow fa-solid fa-arrow-right"></i>
                </a>
            </div>

        </div>
    </div>


    


</div>

<!-- CONTENT END -->

{% include "snippets/gbs-story.html" %}
