---
bodyclass: mx-auto bg-forest-black text-forest-black case-study-page
---

{% include "snippets/header.html" %}

<!-- HERO SECTION START -->
<div id="big-hero" class="work-hero relative h-screen flex items-end xl:pb-24 pb-16">

    <!-- Video Background -->
    <video
        class="absolute inset-0 w-full h-full object-cover"
        autoplay
        loop
        muted
        playsinline
        poster="img/mpp-hero.jpg">
        <source src="img/mpp-hero.mp4" type="video/mp4">
        <!-- Fallback Image -->
        <img src="img/mpp-hero.jpg" alt="MealPrepPro AI Planner">
    </video>


    <!-- Transparent Overlay -->
    <div class="image-overlay"></div>

    <div class="image-overlay-container container w-full md:mx-auto relative grid grid-cols-12 gap-4 lg:gap-y-8 text-left mx-8 sm:px-8 xl:pl-32 sm:pt-24">
        <img class="hero-logo col-span-12" alt="Meal Prep Pro Logo" src="img/logos/mpp-cropped.png">
        <h1 class="sans-serif-heading-1-light text-off-white col-span-12 mb-2">
            AI Meal Planner
        </h1>
        <div class="flex flex-wrap col-span-12 gap-2">
            <div class="label-tag white sans-serif-body-3">UX/UI design</div>
            <div class="label-tag white sans-serif-body-3">Animation</div>
        </div>
    </div>

</div>
<!-- HERO SECTION END -->



<!-- CONTENT START -->
<div class="case-study-content bg-off-white pt-8">

<!-- Intro section start -->
<div class="mx-8 m-8">
    <div class="container w-full mx-auto">

        <!-- Left + right container -->
        <div class="grid grid-cols-12">

            <!-- Left column -->
            <div class="xl:col-start-2 col-span-12 lg:col-span-5 xl:col-span-4 lg:mr-16 xl:mr-24 lg:mt-4">
                <div class="grid grid-cols-12">

                    <!-- Table -->
                    <div class="col-span-12 md:col-span-6 lg:col-span-12 work-info-table">
                        <div class="work-row">
                            <div class="work-label border-b border-b-gray-300">CLIENT</div>
                            <div class="work-value border-b border-b-gray-300">
                                <a href="https://www.mealpreppro.com/" target="_blank" rel="noopener">MealPrepPro<i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                            </div>
                        </div>
                        <div class="work-row">
                            <div class="work-label border-b border-b-gray-300">DATE</div>
                            <div class="work-value border-b border-b-gray-300">2024-2025</div>
                        </div>
                            <div class="work-row">
                            <div class="work-label">ROLE</div>
                            <div class="work-value">UI designer &amp; animator</div>
                        </div>

                    </div>

                    <!-- Metrics -->
                    <div class="col-span-12 md:col-span-6 lg:col-span-12 mt-8 md:mt-0 lg:mt-8 pl-0 md:pl-16 lg:pl-0 ">
                        <div class="metric-box metric-quant p-6">
                          <div class="flex items-center mb-4">
                            <div class="w-12 h-12 flex justify-center items-center">
                              <div class="text-2xl metric-icon">🔮</div>
                            </div>
                            <div class="ml-6">
                                <div class="sans-serif-body-1 font-bold">Smarter UI</div>
                                <div class="sans-serif-body-3 text-gray-500">Made AI meal planning feel intuitive</div>
                            </div>
                          </div>
                          <div class="flex items-center mb-4">
                            <div class="w-12 h-12 flex justify-center items-center">
                              <div class="text-2xl metric-icon">✨</div>
                            </div>
                            <div class="ml-6">
                              <div class="sans-serif-body-1 font-bold">Increased engagement</div>
                              <div class="sans-serif-body-3 text-gray-500">And reduced drop-off</div>
                            </div>
                          </div>
                          <div class="flex items-center mb-4">
                            <div class="w-12 h-12 flex justify-center items-center">
                              <div class="text-2xl metric-icon">⚡</div>
                            </div>
                            <div class="ml-6">
                              <div class="sans-serif-body-1 font-bold">Optimised UX</div>
                              <div class="sans-serif-body-3 text-gray-500">Faster, clearer, and more engaging</div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <!-- Metrics end -->

                </div>
            </div>
            <!-- Left column end -->

            <!-- Right column -->
            <div class="col-span-12 lg:col-span-7 xl:col-span-6 lg:mt-4 mt-16">
                <div class="serif-heading-2 font-bold mb-8">
                    Smart meal planning UI &amp; review experience
                </div>
                <p>
                    MealPrepPro is a meal-planning app designed to simplify healthy eating by generating customised weekly meal plans. Its intelligent algorithm considers calorie targets, activity levels, allergies, and food preferences to create optimised plans, making meal prep effortless.
                </p>
                <p class="mt-8">
                    To enhance user engagement and reinforce the intelligence behind its meal-planning process, MealPrepPro sought to improve two key areas of the user journey:
                </p>
                <ol class="list-decimal pl-5 space-y-2 mt-8">
                   <li> Creating an <strong>animated orb</strong>, which visualises how the app processes user inputs to generate a personalised meal plan.</li>
                    <li>The <strong>meal planner review</strong> experience, which guides users in understanding and customising their weekly meal plan more effectively.</li>
                </ol>
                
            </div>
            <!-- Right column end -->

        </div>
        <!-- Left + right container end -->

    </div>
</div>
<!-- Intro section end -->


<!-- Text + image section start -->
<div class="mx-8 m-8">

    <!-- Image 1 -->
    <div class="w-full mt-16 sm:my-16 fade-in">

        <video
            class="zoom-effect w-full h-full object-cover crop-on-small rounded-2xl"
            autoplay
            loop
            muted
            playsinline
            controls
            poster="img/mpp-cs-1.jpg">
            <source src="img/mpp-cs-1.mp4" type="video/mp4">
            <!-- Fallback Image -->
            <img src="img/mpp-cs-1.jpg" alt="MealPrepPro AI Planner">
        </video>
    </div>

    <!-- Text 1 -->
    <div class="container w-full mx-auto grid grid-cols-12 sm:mt-16 mt-8">
        <div class="sm:col-start-3 sm:col-span-8 col-span-12 space-y-6 text-classic-grey">

            <h2 class="fade-in">Opportunities</h2>
        
            <p class="fade-in">
                MealPrepPro’s core value proposition lies in its ability to generate tailored meal plans based on a wide range of user preferences. However, two key challenges were identified:
            </p>

            <ul class="fade-in list-disc pl-5 space-y-2">
               <li><strong>Invisible intelligence</strong> - The customisation process was happening behind the scenes, leaving users unaware of how their plan was being generated.</li>
                <li><strong>Drop-off in the review screen</strong> - some users were struggling to understand why meals appeared to repeat across multiple days and what actions they needed to take to refine their plan.</li>
            </ul>

            <p class="fade-in mt-8">
                The goal was to design engaging UI elements and an animation that visually reinforced the intelligent algorithm behind the meal planner while also streamlining the review experience to improve user retention.
            </p>
            
            <h2 class="fade-in mt-8">Challenges</h2>
            
                <ul class="fade-in list-disc pl-5 space-y-2">
                   <li><strong>The animated orb</strong> - The animation needed to be dynamic, incorporating real-time user inputs while maintaining smooth performance. It had to balance aesthetics with responsiveness and align with MealPrepPro’s brand aesthetic.</li>
                    <li><strong>Review screen complexity</strong> - The review process needed to clearly communicate meal repetition logic while ensuring users could easily swap or delete meals, use up ingredients, and set preferences without overwhelming them with too many options.</li>                    
                </ul>


        </div>
    </div>

    <!-- Image 2 -->
    <div class="w-full mt-16 sm:my-16 fade-in">

        <video
            class="zoom-effect w-full h-full object-cover crop-on-small rounded-2xl"
            autoplay
            loop
            muted
            playsinline
            controls
            poster="img/mpp-cs-2.jpg">
            <source src="img/mpp-cs-2.mp4" type="video/mp4">
            <!-- Fallback Image -->
            <img src="img/mpp-cs-2.jpg" alt="MealPrepPro AI Planner">
        </video>

    </div>

    <!-- Text 2 -->
    <div class="container w-full mx-auto grid grid-cols-12 sm:mt-16 mt-8">
        <div class="sm:col-start-3 sm:col-span-8 col-span-12 space-y-6 text-classic-grey">

            
                <h2 class="fade-in">Approach</h2>
                
                <p class="fade-in"><strong>Animated orb</strong></p>
                
                <p class="fade-in mt-8">
                    Different visual styles for the animation were explored, including AI-inspired glowing elements, spinning flows, and floating bubbles. Using <a href="https://rive.app/" target="_blank" rel="noopener">Rive</a>, an interactive animation was developed where a central orb pulsed and cycled through user inputs—such as flavour preferences, calorie needs, and dietary requirements, before generating a customised meal plan. Floating meal images appeared in animated bubbles, reinforcing the personalised selections and getting users excited about their upcoming menu.
                </p>

                <p class="fade-in mt-8"><strong>Meal planner review</strong></p>
                
                <p class="fade-in mt-8">
                    The review flow was restructured to improve clarity by introducing a revised layout and clearer visual indicators, such as the 'cook & prep' UI pattern, helping users better understand how meals were planned. Expandable tool sections were added to enhance usability, including future release features such as 'Use Up an Ingredient', and 'Recipe Favourites' to prioritise or deprioritise user favourites. To refine interaction patterns, swipable cards replaced static lists, making meal comparisons more intuitive, and a "Browse All Recipes" button was introduced to provide additional flexibility. Recipe imagery was also made front and centre to encourage excitement and anticipation for users' meal prep ahead.
                </p>

                <h2 class="fade-in mt-8">The solution</h2>

                <p class="fade-in">
                    The final experience featured a dynamic AI-powered animation that made the meal planning process feel tangible and engaging. The review flow was streamlined with intuitive filtering tools and clearer meal repetition logic. Interaction design was improved with a swipable carousel for meal alternatives, clearer call-to-action buttons, and an optimised layout that reduced cognitive load.
                </p>
        </div>
    </div>

    <!-- Image 3 & 4 -->
    <div class="w-full mt-16 sm:my-16 grid grid-cols-1 md:grid-cols-2 gap-8">
        <img src="img/mpp-cs-3.jpg" alt="" class="zoom-effect w-full h-full object-cover border border-gray-200 rounded-2xl">
        <img src="img/mpp-cs-4.jpg" alt="" class="zoom-effect w-full h-full object-cover border border-gray-200 rounded-2xl">
    </div>

    <!-- Text 3 -->
    <div class="container w-full mx-auto grid grid-cols-12">
        <div class="sm:col-start-3 sm:col-span-8 col-span-12 space-y-6 text-classic-grey">

            <h2 class="fade-in">Results &amp; impact</h2>

            <p class="fade-in">
                Initial feedback indicates that the animated orb has helped users feel more connected to the intelligence behind their meal plan. The improved review experience has made meal customisation more intuitive, reducing confusion around meal repetition and refining workflows for finding alternatives. Engagement with the new plan review tool and feedback suggest that users appreciate having more control over their plans, as well as being served a more streamlined choice - users say that being shown just 5 alternatives (with the option to swap) feels less overwhelming than being shown the full recipe browser.
            </p>
            
            
            <h2 class="fade-in mt-8">Learnings &amp; next steps</h2>

            <p class="fade-in">
                This is an ongoing project, and the team will continue to optimise and iterate on various parts of the journey through A/B testing and gathering feedback.
            </p>
            <p class="fade-in mt-8">
                User feedback so far reinforced the importance of balancing animation length with engagement and ensuring the review process is both flexible and intuitive. Future iterations could explore additional interactivity within the orb animation to further personalise the meal plan generation process; more advanced filtering and customisation tools could be developed to provide greater flexibility in the review experience.                
            </p>
        </div>
    </div>

    <!-- Disclaimer text -->
    <div class="w-full mt-0 sm:my-16 grid grid-cols-1 md:grid-cols-2 gap-8 hidden">
            <p class="w-full sans-serif-body-4 text-classic-grey italic font-extralight">
                *Figures based on forecasted projection
            </p>
    </div>


</div>
<!-- Text + image section end -->


{% include "snippets/case_study_navigator.html" %}

</div>
<!-- CONTENT END -->