---
bodyclass: mx-auto bg-off-white text-forest-black case-study-page
---
<div class="loader w-full bg-green-grey fixed items-center">GOLDEN BEAR STUDIOS</div>

<!-- BARBA CONTENT START -->

{% include "snippets/header.html" %}

<!-- HERO SECTION START -->
<div id="big-hero" class="work-hero relative h-screen flex items-end xl:pb-24 pb-16">

    <!-- Background Image (Now Static) -->
    <div class="parallax-bg absolute inset-0 bg-cover bg-center h-screen coop_hero">
    </div>

    <!-- Transparent Overlay -->
    <div class="image-overlay"></div>

    <div class="image-overlay-container container w-full md:mx-auto relative grid grid-cols-12 gap-4 gap-y-8 text-left mx-8 sm:px-8 xl:pl-32 sm:pt-24">
        <img class="hero-logo col-span-8 md:col-span-12 fade-in" alt="COOP Logo" src="img/logos/coop-cropped.png">
        <h1 class="sans-serif-heading-1-light text-off-white col-span-8 md:col-span-12 fade-in">
            Funeral care redesign
        </h1>
        <div class="flex flex-wrap col-span-8 md:col-span-12 fade-in gap-2">
            <div class="label-tag white sans-serif-body-3">B2C</div>
            <div class="label-tag white sans-serif-body-3">Product design</div>
        </div>
    </div>

</div>
<!-- HERO SECTION END -->


<!-- CONTENT START -->
<div class="case-study-content bg-off-white pt-8">

<!-- Intro section start -->
<div class="mx-8 m-8">
    <div class="container w-full mx-auto">

        <!-- Left + right container -->
        <div class="grid grid-cols-12">

            <!-- Left column -->
            <div class="xl:col-start-2 col-span-12 lg:col-span-5 xl:col-span-4 lg:mr-16 xl:mr-24">
                <div class="grid grid-cols-12">

                    <!-- Table -->
                    <div class="col-span-12 md:col-span-6 lg:col-span-12 work-info-table">
                            <div class="work-row">
                              <div class="work-label border-b border-b-gray-300">CLIENT</div>
                              <div class="work-value border-b border-b-gray-300">
                                <a href="https://www.coop.co.uk/funeralcare" target="_blank" rel="noopener">Coop Funeralcare <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                              </div>
                            </div>
                            <div class="work-row">
                              <div class="work-label border-b border-b-gray-300">DATE</div>
                              <div class="work-value border-b border-b-gray-300">2020</div>
                            </div>
                            <div class="work-row">
                              <div class="work-label border-b border-b-gray-300">ROLE</div>
                              <div class="work-value border-b border-b-gray-300">Lead Product Designer</div>
                            </div>
                            <div class="work-row">
                              <div class="work-label">AGENCY</div>
                              <div class="work-value">
                                <a href="https://www.biglight.co.uk" target="_blank" rel="noopener">Biglight <i class="fa-solid fa-arrow-up-right-from-square"></i></a>&nbsp;&nbsp;
                                <a href="https://www.and.digital/" target="_blank" rel="noopener">AND Digital <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                              </div>
                        </div>
                    </div>


                    <!-- Metrics -->
                    <div class="col-span-12 md:col-span-6 lg:col-span-12 mt-8 md:mt-0 lg:mt-8 pl-0 md:pl-16 lg:pl-0 ">
                        <div class="metric-box metric-quant p-6 pb-8">
                          <div class="flex items-center mb-4">
                            <div class="w-12 h-12 flex justify-center items-center">
                              <div class="text-2xl metric-icon">🔎</div>
                            </div>
                            <div class="ml-6">
                                <div class="sans-serif-body-1 font-bold">More accessible information</div>
                                <div class="sans-serif-body-3 text-gray-500">Instant access in a crisis</div>
                            </div>
                          </div>
                          <div class="flex items-center mb-4">
                            <div class="w-12 h-12 flex justify-center items-center">
                              <div class="text-2xl metric-icon">🧭</div>
                            </div>
                            <div class="ml-6">
                              <div class="sans-serif-body-1 font-bold">Reduced drop-off rate</div>
                              <div class="sans-serif-body-3 text-gray-500">Decreased planning path abandonment</div>
                            </div>
                          </div>
                          <div class="flex items-center">
                            <div class="w-12 h-12 flex justify-center items-center">
                              <div class="text-2xl metric-icon">🌻</div>
                            </div>
                            <div class="ml-6">
                              <div class="sans-serif-body-1 font-bold">Emotional resonance</div>
                              <div class="sans-serif-body-3 text-gray-500">Greater empathy through design</div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <!-- Metrics end -->


                    

                </div>
            </div>
            <!-- Left column end -->

            <!-- Right column -->
            <div class="col-span-12 lg:col-span-7 xl:col-span-6 lg:mt-4 mt-16">
                <div class="serif-heading-2 font-bold mb-8">
                Designing a compassionate digital experience for life’s most difficult moments
                </div>

                <p>
                Co-op Funeralcare aimed to relaunch their website with the goal of providing a simpler, more intuitive experience for those facing the loss of a loved one. With a strong emphasis on empathy, the redesign sought to create a sensitive and supportive digital environment for users during an incredibly difficult time. The website had to not only offer clear access to funeral planning services but also communicate warmth, understanding, and approachability.
                </p>
                <p class="mt-8">
                One of the key challenges was ensuring that the website could facilitate difficult, often uncomfortable conversations around death and funeral planning. In 2020, research revealed that only 9% of people aged 50 and over had a funeral plan in place, with many adults hesitant to discuss their funeral wishes. The challenge was to build a site that could gently guide users through this sensitive process, while making it feel safe, supportive, and easy to engage with. Additionally, a large part of the project involved creating a funeral plan builder—a flexible tool that allowed users to personalise their plans in a way that felt appropriate to their needs.
                </p>
            </div>
            <!-- Right column end -->

        </div>
        <!-- Left + right container end -->

    </div>
</div>
<!-- Intro section end -->


<!-- Text + image section start -->
<div class="mx-8 m-8">

    


    <!-- Image 1 start -->
    <div class="w-full relative overflow-hidden">
        
        <!-- Draggable Container (only visible on small screens) -->
        <div class="draggable-container-wrapper sm:hidden">
            <div id="draggable-container-2" class="relative w-full h-[70vh] rounded-2xl draggable-container">
                <div id="draggable-wrapper-2" class="relative w-[400%] h-full draggable-wrapper">
                    <img 
                        src="img/coop-cs-1-small.jpg" 
                        alt="" 
                        class="h-full w-full object-contain object-left" />
                </div>
            </div>
        </div>

        <!-- Horizontal Scroll Slider -->
        <input type="range" id="slider-1" class="w-full mt-2 sm:hidden block scroll-slider" min="0" max="100" value="0" step="1">

        <!-- Instructional Text Below the Image (Only visible on small screens) -->
        <div class="text-center text-gray-600 font-semibold text-sm sm:hidden block instructional-text">
            Drag the slider to view more
        </div>

        <!-- Normal Image (only visible on screens larger than 640px) -->
        <div class="w-full mt-16 mb-8 sm:block hidden">
            <img src="img/coop-cs-1.jpg" alt="" class="zoom-effect w-full h-full object-cover border rounded-2xl border-gray-200">
        </div>

    </div>
    <!-- Image 1 end -->




    <!-- Text 1 -->
    <div class="container w-full mx-auto grid grid-cols-12">
        <div class="sm:col-start-3 sm:col-span-8 col-span-12 space-y-6 text-classic-grey">

            <h2 class="fade-in">Challenges</h2>

            <p class="fade-in">
                Design elements, such as colour palette, iconography, and layout, needed to ensure the experience was comforting, with the design language reflecting empathy. The project was fast-paced, requiring quick iterations while staying true to the emotional tone needed for the project.
            </p>
            
            <h2 class="fade-in mt-8">Insight &amp; solution </h2>
            <p class="fade-in">
                Our research revealed that the act of planning a funeral is often a private and emotional process, with many people avoiding it due to the difficulty of broaching the topic. We knew that the design had to facilitate an emotional journey, using both visual and functional elements to guide users without overwhelming them.
            </p>
            <p class="fade-in mt-8 mb-8">
                The solution was to create a website that balanced functionality with sensitivity. We chose a soft, muted colour palette, incorporating calming tones and gentle shapes to evoke a sense of warmth and support. The funeral plan builder was designed as an intuitive wizard, allowing users to choose how much detail to include in their plans, from simple options to fully personalised ones. The design needed to be clear, easy to navigate, and above all, comforting. This approach helped users feel in control of the process, while also making the subject matter less daunting.
            </p>
        </div>
    </div>

    <!-- Image 2 start -->
    <div class="w-full relative overflow-hidden">
    
        <!-- Draggable Container (only visible on small screens) -->
        <div class="draggable-container-wrapper sm:hidden mt-16">
            <div id="draggable-container-1" class="relative w-full h-[70vh] rounded-2xl draggable-container">
                <div id="draggable-wrapper-1" class="relative w-[400%] h-full draggable-wrapper">
                    <img 
                        src="img/coop-cs-2-small.jpg" 
                        alt="" 
                        class="h-full w-full object-contain object-left" />
                </div>
            </div>
        </div>

        <!-- Horizontal Scroll Slider -->
        <input type="range" id="slider-2" class="w-full mt-2 sm:hidden block scroll-slider" min="0" max="100" value="0" step="1">

        <!-- Instructional Text Below the Image (Only visible on small screens) -->
        <div class="text-center text-gray-600 font-semibold text-sm sm:hidden block instructional-text">
            Drag the slider to view more
        </div>

        <!-- Normal Image (only visible on screens larger than 640px) -->
        <div class="w-full mt-16 mb-8 sm:block hidden">
            <img src="img/coop-cs-2.jpg" alt="" class="zoom-effect w-full h-full object-cover border rounded-2xl border-gray-200">
        </div>

    </div>
    <!-- Image 2 end -->

    <!-- Text 2 -->
    <div class="container w-full mx-auto grid grid-cols-12 mb-24">
        <div class="sm:col-start-3 sm:col-span-8 col-span-12 space-y-6 text-classic-grey">


            <h2 class="fade-in">Key deliverables</h2>

            <p class="fade-in">
                We delivered a full-scale, responsive atomic design system in Figma, complete with page templates for future scalability. Alongside this, we provided detailed guidelines for using the design system, ensuring consistency across all aspects of the website. We also developed art direction guidelines for the photography of ecommerce items such as coffins, urns, and flowers, ensuring they were presented in a way that was respectful and aligned with the tone of the site.
            </p>
            <p class="fade-in mt-8">
                Additionally, we created UI screen designs and the corresponding UX designs, ensuring a seamless and user-friendly experience. We performed user research, conducting around 20 user interviews to understand both the current journey and reactions to the design prototype. Their feedback was invaluable, allowing us to adapt our approach and refine the design as we went along. This iterative process ensured that the final product was aligned with user needs and expectations.
            </p>
        </div>
    </div>

    <!-- Image 3 & 4 -->
    <div class="w-full mt-16 sm:my-16">
        <img src="img/coop-cs-3.jpg" alt="" class="zoom-effect w-full h-full object-cover border border-gray-200">
    </div>

    <!-- Text 3 -->
    <div class="container w-full mx-auto grid grid-cols-12 mb-12">
        <div class="sm:col-start-3 sm:col-span-8 col-span-12 space-y-6 text-classic-grey">

            <h2 class="fade-in">Impact</h2>
            <p class="fade-in">
                The redesigned website allowed Co-op Funeralcare to create an accessible and emotionally supportive experience for users, helping them through a sensitive and challenging time. By focusing on empathy and user-centric design, we helped the brand position itself as a compassionate, trustworthy partner during a difficult process. The funeral plan builder, while not included in the final version, was a key element that demonstrated Co-op’s forward-thinking approach to meeting customer needs with flexibility and sensitivity. The new site reinforced the Co-op brand’s core values of approachability, care, and trust, making a difficult topic more manageable for users to navigate.
            </p>
        </div>
    </div>

    <!-- Disclaimer text -->
    <div class="w-full mt-0 sm:my-16 grid grid-cols-1 md:grid-cols-2 gap-8 hidden">
            <p class="w-full sans-serif-body-4 text-classic-grey italic font-extralight">
                *Figures based on forecasted projection
            </p>
    </div>


</div>
<!-- Text + image section end -->

</div>
<!-- CONTENT END -->



{% include "snippets/case_study_navigator.html" %}
