---
bodyclass: mx-auto bg-off-white text-forest-black case-study-page
---
<div class="loader w-full bg-green-grey fixed items-center">GOLDEN BEAR STUDIOS</div>


{% include "snippets/header.html" %}

<!-- HERO SECTION START -->
<section id="big-hero" class="work-hero relative h-screen flex items-end xl:pb-24 pb-16">

    <!-- Background Image (Now Static) -->
    <div class="parallax-bg absolute inset-0 bg-cover bg-center h-screen brakes_hero">
    </div>

    <!-- Transparent Overlay -->
    <div class="image-overlay"></div>

    <div class="image-overlay-container container w-full md:mx-auto relative grid grid-cols-12 gap-4 gap-y-8 text-left mx-8 sm:px-8 xl:pl-32 sm:pt-24">
        <img class="hero-logo col-span-8 md:col-span-12 fade-in" alt="Brakes Logo" src="img/logos/brakes-cropped.png">
        <h1 class="sans-serif-heading-1-light text-off-white col-span-8 md:col-span-12 fade-in">
            Trade site replatform
        </h1>
        <div class="flex flex-wrap col-span-8 md:col-span-12 fade-in gap-2">
            <div class="label-tag white sans-serif-body-3">UX/UI design</div>
            <div class="label-tag white sans-serif-body-3">B2B</div>
        </div>
    </div>

</section>
<!-- HERO SECTION END -->

<!-- CONTENT START -->

<!-- Intro section start -->
<section class="mx-8 m-8">
    <div class="container w-full mx-auto">

        <!-- Left + right container -->
        <div class="grid grid-cols-12">

            <!-- Left column -->
            <div class="xl:col-start-2 col-span-12 lg:col-span-5 xl:col-span-4 lg:mr-16 xl:mr-24">
                <div class="grid grid-cols-12">

                    <!-- Table -->
                    <div class="col-span-12 md:col-span-6 lg:col-span-12 work-info-table">
                            <div class="work-row">
                              <div class="work-label border-b border-b-gray-300">CLIENT</div>
                              <div class="work-value border-b border-b-gray-300">
                                <a href="https://www.brake.co.uk/" target="_blank" rel="noopener">Brakes <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                              </div>
                            </div>
                            <div class="work-row">
                              <div class="work-label border-b border-b-gray-300">DATE</div>
                              <div class="work-value border-b border-b-gray-300">2019</div>
                            </div>
                            <div class="work-row">
                              <div class="work-label border-b border-b-gray-300">ROLE</div>
                              <div class="work-value border-b border-b-gray-300">Lead UI Designer</div>
                            </div>
                            <div class="work-row">
                              <div class="work-label">AGENCY</div>
                              <div class="work-value">
                                <a href="https://www.biglight.co.uk" target="_blank" rel="noopener">Biglight <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                              </div>
                        </div>
                    </div>

                    <!-- Metrics -->
                    <div class="col-span-12 md:col-span-6 lg:col-span-12 mt-8 md:mt-0 lg:mt-8 pl-0 md:pl-16 lg:pl-0 ">
                        <div class="metric-box p-6">
                          <div class="flex items-center mb-4">
                            <div class="w-12 h-12 flex justify-center items-center">
                              <div class="text-2xl">🦾</div>
                            </div>
                            <div class="ml-4">
                                <div class="sans-serif-body-2 font-[500]">Improved accessibility</div>
                                <div class="sans-serif-body-5 text-gray-500 font-[200]">Navigation for users with diverse needs</div>
                            </div>
                          </div>
                          <div class="flex items-center mb-4">
                            <div class="w-12 h-12 flex justify-center items-center">
                              <div class="text-2xl">🍃</div>
                            </div>
                            <div class="ml-4">
                               <div class="sans-serif-body-2 font-[500]">Optimised conversion</div>
                              <div class="sans-serif-body-5 text-gray-500 font-[200]">Simplified ordering &amp; transaction process</div>
                            </div>
                          </div>
                          <div class="flex items-center mb-4">
                            <div class="w-12 h-12 flex justify-center items-center">
                              <div class="text-2xl">🧱</div>
                            </div>
                            <div class="ml-4">
                              <div class="sans-serif-body-2 font-[500]">Scalable design system</div>
                              <div class="sans-serif-body-5 text-gray-500 font-[200]">Future-proofed platform to support growth</div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <!-- Metrics end -->

                </div>
            </div>
            <!-- Left column end -->

            <!-- Right column -->
            <div class="col-span-12 lg:col-span-7 xl:col-span-6 lg:mt-4 mt-16">
                <div class="serif-heading-2 font-bold mb-8">
                Building a scalable digital foundation for future growth
                </div>
                <p class="sans-serif-body-2 text-classic-grey">
                Brakes is one of Europe’s largest food wholesalers, delivering to over 50,000 catering businesses across various sectors such as hospitality, healthcare, education, and prisons. With a growing demand for online ordering, the company sought to overhaul its digital presence to improve user experience, enhance accessibility, and create a platform that could scale alongside future business growth.
                <br><br>
                The existing Brakes digital experience was fragmented and outdated, with separate platforms for order-taking, marketing, and brand-specific sites for Woodwards and Country Choice. These systems provided a disjointed experience for customers, impacting both usability and accessibility. The challenge was to create a unified, customer-centric digital platform that would offer a cohesive experience, improve accessibility, and be flexible enough to accommodate future digital initiatives.
                </p>
            </div>
            <!-- Right column end -->

        </div>
        <!-- Left + right container end -->

    </div>
</section>
<!-- Intro section end -->


<!-- Text + image section start -->
<section class="mx-8 m-8">

    <!-- Image 1 -->
    <div class="w-full mt-16 sm:my-16">
        <img src="img/placeholder-cs-ls.jpg" alt="" class="zoom-effect w-full h-full object-cover border border-gray-200">
    </div>

    <!-- Text 1 -->
    <div class="container w-full mx-auto grid grid-cols-12">
        <div class="sm:col-start-3 sm:col-span-8 col-span-12 space-y-6 text-classic-grey">
            <p class="sans-serif-body-2 fade-in">
                <strong>Approach &amp; key deliverables</strong>

                The redesign of Brakes’ digital platform involved a collaborative, insight-driven approach to ensure we met both customer needs and business objectives. We worked closely with the Brakes team to understand user journeys, leveraging both existing research and new data to inform our design decisions. Our approach resulted in the following key deliverables:
                <br><br>
                Stakeholder Alignment &amp; Research
                We conducted stakeholder interviews and in-depth research to clarify business priorities and ensure alignment with user needs. This foundational work enabled us to develop a customer-centric approach to the redesign.
                <br><br>
                Data Analysis &amp; UX Insights
                We analysed existing customer data, results, and research to better understand user behaviour, pain points, and opportunities for improvement. This data-driven approach allowed us to define four measurable business objectives to guide the design process.
                <br><br>
                User-Centered Design &amp; Usability Testing
                Using insights gathered from research, we designed a minimalistic, user-friendly interface that adhered to accessibility standards. Wireframes and prototypes were tested in our usability lab, ensuring that the design met real-world needs and user expectations.
                <br><br>
                UI Design System &amp; Accessibility
                A comprehensive UI design system was developed to provide consistency across the site, including iconography and visual elements to support non-verbal communication and accessibility. This system ensures scalability for future updates and seamless integration with Brakes’ other digital platforms.
                <br><br>
                Collaboration &amp; Iteration
                Throughout the project, we maintained close collaboration with the UX, engineering, and content teams to ensure that the design was feasible and aligned with the functional requirements. Iterative design reviews allowed us to refine and validate the user experience.


            </p>

        </div>
    </div>

    <!-- Image 2 -->
    <div class="w-full mt-16 sm:my-16">
        <img src="img/placeholder-cs-ls.jpg" alt="" class="zoom-effect w-full h-full object-cover border border-gray-200">
    </div>

    <!-- Text 2 -->
    <div class="container w-full mx-auto grid grid-cols-12">
        <div class="sm:col-start-3 sm:col-span-8 col-span-12 space-y-6 text-classic-grey">
            <p class="sans-serif-body-2 fade-in">
                <strong>Results</strong>

                Unified Digital Presence: The redesign resulted in a cohesive digital platform that simplified the user journey, making it easier for customers to discover products, place orders, and access support. The clean, user-focused interface helped users complete tasks efficiently across both desktop and mobile devices.
                <br><br>
                Improved Accessibility: The new site meets WCAG AA standards, providing a more inclusive experience for users with disabilities, such as those with visual impairments or those requiring non-verbal communication tools, such as icons for dietary choices.
                <br><br>
                Future-Proof Design: The design system offers scalability, ensuring the platform can easily adapt to future needs, including the potential for expanding into direct-to-consumer services.
                <br><br>
                Operational Efficiency: By introducing personalised tools for account management and order tracking, Brakes reduced customer service costs while improving customer satisfaction.
            </p>

        </div>
    </div>

    <!-- Image 3 & 4 -->
    <div class="w-full mt-16 sm:my-16 grid grid-cols-1 md:grid-cols-2 gap-8">
        <img src="img/placeholder-cs-sq.jpg" alt="" class="zoom-effect w-full h-full object-cover border border-gray-200">
        <img src="img/placeholder-cs-sq.jpg" alt="" class="zoom-effect w-full h-full object-cover border border-gray-200">
    </div>

    <!-- Text 3 -->
    <div class="container w-full mx-auto grid grid-cols-12">
        <div class="sm:col-start-3 sm:col-span-8 col-span-12 space-y-6 text-classic-grey">
            <p class="sans-serif-body-2 mb-16 fade-in">
                <strong>Success metrics</strong>

                Unified Digital Presence: The redesign resulted in a cohesive digital platform that simplified the user journey, making it easier for customers to discover products, place orders, and access support. The clean, user-focused interface helped users complete tasks efficiently across both desktop and mobile devices.
                <br><br>
                Improved Accessibility: The new site meets WCAG AA standards, providing a more inclusive experience for users with disabilities, such as those with visual impairments or those requiring non-verbal communication tools, such as icons for dietary choices.
                <br><br>
                Future-Proof Design: The design system offers scalability, ensuring the platform can easily adapt to future needs, including the potential for expanding into direct-to-consumer services.
                <br><br>
                Operational Efficiency: By introducing personalised tools for account management and order tracking, Brakes reduced customer service costs while improving customer satisfaction.
            </p>
            <p class="sans-serif-body-2 fade-in">
                <strong>Client feedback</strong>

                "The work you have done for us, particularly on the mobile site, has been outstanding. The approach to eCommerce and user experience was entirely new to our business, and the quality and integrity of the work are greatly appreciated. Thank you for all your efforts."
                – Adam Collett, Group Marketing Director, Brakes


            </p>
        </div>
    </div>

    <!-- Disclaimer text -->
    <div class="w-full mt-0 sm:my-16 grid grid-cols-1 md:grid-cols-2 gap-8 hidden">
            <p class="w-full sans-serif-body-4 text-classic-grey italic font-extralight">
                *Figures based on forecasted projection
            </p>
    </div>


</section>
<!-- Text + image section end -->

{% include "snippets/case_study_navigator.html" %}
