---
bodyclass: mx-auto bg-off-white text-forest-black case-study-page
---
<div class="loader w-full bg-green-grey fixed items-center">GOLDEN BEAR STUDIOS</div>

{% include "snippets/header.html" %}

<!-- HERO SECTION START -->
<section id="big-hero" class="work-hero relative h-screen flex items-end xl:pb-24 pb-16">

    <!-- Background Image (Now Static) -->
    <div class="parallax-bg absolute inset-0 bg-cover bg-center h-screen asos_1_hero">
    </div>

    <!-- Transparent Overlay -->
    <div class="image-overlay"></div>

    <div class="image-overlay-container container w-full md:mx-auto relative grid grid-cols-12 gap-4 gap-y-8 text-left mx-8 sm:px-8 xl:pl-32 sm:pt-24">
        <img class="hero-logo col-span-8 md:col-span-12 fade-in" alt="ASOS Logo" src="img/logos/asos-cropped.png">
        <h1 class="sans-serif-heading-1-light text-off-white col-span-8 md:col-span-12 fade-in">
            Curated shopping
        </h1>
        <div class="flex flex-wrap col-span-8 md:col-span-12 fade-in gap-2">
            <div class="label-tag white sans-serif-body-3">Concept design</div>
            <div class="label-tag white sans-serif-body-3">Product design</div>
        </div>
    </div>

</section>
<!-- HERO SECTION END -->

<!-- CONTENT START -->

<!-- Intro section start -->
<section class="mx-8 m-8">
    <div class="container w-full mx-auto">

        <!-- Left + right container -->
        <div class="grid grid-cols-12">

            <!-- Left column -->
            <div class="xl:col-start-2 col-span-12 lg:col-span-5 xl:col-span-4 lg:mr-16 xl:mr-24">
                <div class="grid grid-cols-12">

                    <!-- Table -->
                    <div class="col-span-12 md:col-span-6 lg:col-span-12 work-info-table">
                            <div class="work-row">
                              <div class="work-label border-b border-b-gray-300">CLIENT</div>
                              <div class="work-value border-b border-b-gray-300">
                                <a href="https://www.asos.com" target="_blank" rel="noopener">ASOS<i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                              </div>
                            </div>
                            <div class="work-row">
                              <div class="work-label border-b border-b-gray-300">DATE</div>
                              <div class="work-value border-b border-b-gray-300">2023</div>
                            </div>
                            <div class="work-row">
                              <div class="work-label">ROLE</div>
                              <div class="work-value">Head of Product Design</div>
                            </div>

                    </div>

                    <!-- Metrics -->
                    <div class="col-span-12 md:col-span-6 lg:col-span-12 mt-8 md:mt-0 lg:mt-8 pl-0 md:pl-16 lg:pl-0 ">
                        <div class="metric-box p-6">
                          <div class="flex items-center mb-4">
                            <div class="w-12 h-12 flex justify-center items-center">
                              <i class="fas fa-arrow-trend-up text-3xl text-black"></i>
                            </div>
                            <div class="ml-4">
                              <div class="sans-serif-body-1 font-bold">+10-15%</div>
                              <div class="sans-serif-body-3 text-gray-500">PLP engagement</div>
                            </div>
                          </div>
                          <div class="flex items-center mb-4">
                            <div class="w-12 h-12 flex justify-center items-center">
                              <i class="fas fa-arrow-trend-up text-3xl text-black"></i>
                            </div>
                            <div class="ml-4">
                              <div class="sans-serif-body-1 font-bold">+5-10%</div>
                              <div class="sans-serif-body-3 text-gray-500">conversion rate</div>
                            </div>
                          </div>
                          <div class="flex items-center mb-4">
                            <div class="w-12 h-12 flex justify-center items-center">
                              <i class="fas fa-arrow-trend-up text-3xl text-black"></i>
                            </div>
                            <div class="ml-4">
                              <div class="sans-serif-body-1 font-bold">+£1m</div>
                              <div class="sans-serif-body-3 text-gray-500">annual revenue*</div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <!-- Metrics end -->

                </div>
            </div>
            <!-- Left column end -->

            <!-- Right column -->
            <div class="col-span-12 lg:col-span-7 xl:col-span-6 lg:mt-4 mt-16">
                <div class="serif-heading-2 font-bold mb-8">
                Elevating inspiration across the e-commerce journey.
                </div>
                <div class="serif-heading-5 leading-normal mb-8">
                Redefining how customers browse and engage with fashion at ASOS.
                </div>
                <p class="sans-serif-body-2 text-classic-grey">
                The Curated Categories initiative was born from a gap in ASOS’s digital shopping experience, identified through a comprehensive audit conducted in collaboration with consultancies, <a href="https://www.ey.com/" target="_blank" rel="noopener">EY</a> and <a href="https://www.biglight.co.uk" target="_blank" rel="noopener">Biglight</a>. This audit included extensive research, guerrilla testing, and concept testing. The browsing experience at the time consisted primarily of static product lists that did little to spark inspiration or help customers make confident purchasing decisions. Our goal was to elevate the way customers engage with fashion by introducing an immersive, editorial-style browsing experience that was both inspiring and commercially successful.


                </p>
            </div>
            <!-- Right column end -->

        </div>
        <!-- Left + right container end -->

    </div>
</section>
<!-- Intro section end -->


<!-- Text + image section start -->
<section class="mx-8 m-8">

    <!-- Image 1 -->
    <div class="w-full mt-16 sm:my-16">
        <img src="img/placeholder-cs-ls.jpg" alt="" class="zoom-effect w-full h-full object-cover border border-gray-200">
    </div>

    <!-- Text 1 -->
    <div class="container w-full mx-auto grid grid-cols-12">
        <div class="sm:col-start-3 sm:col-span-8 col-span-12 space-y-6 text-classic-grey">

            <p class="sans-serif-body-2 fade-in">
                <strong>Constraints &amp; Challenges</strong>
                <br>
                Bridging Inspiration &amp; Commerce – The experience needed to balance engaging content with a seamless shopping journey to drive conversion.<br>
                Scalability &amp; Feasibility – Solutions had to be flexible enough to support different categories, product types, and future iterations while remaining feasible for tech implementation.<br>
                Stakeholder Alignment – Buy-in from multiple teams (Commercial, Studios, Tech, and Product) was essential, each with different priorities.
            </p>
        </div>
    </div>

    <!-- Image 2 -->
    <div class="w-full mt-16 sm:my-16">
        <img src="img/placeholder-cs-ls.jpg" alt="" class="zoom-effect w-full h-full object-cover border border-gray-200">
    </div>

    <!-- Text 2 -->
    <div class="container w-full mx-auto grid grid-cols-12">
        <div class="sm:col-start-3 sm:col-span-8 col-span-12 space-y-6 text-classic-grey">
            <p class="sans-serif-body-2 fade-in">
                <strong>My Role &amp; Approach</strong>

                As Head of Product Design, I led the vision and execution of Curated Categories. Key elements of my role included:
                <br><br>
                Conducting research and aligning insights from customer feedback, competitor benchmarking, and internal stakeholders.<br>
                Spearheading the definition and prioritisation of the project, streamlining concept development for approval and resource allocation.<br>
                Running a two-day workshop with Tech and Product teams to ideate, consolidate past and current initiatives, and define a feature roadmap.<br>
                Designing the proof-of-concept and prototype that secured buy-in and funding for the project.<br>
                Orchestrating collaborative efforts, including iterative concept reviews and workshops, leading to a visual prototype that garnered investment and prioritisation from cross-functional teams.<br>
                In hindsight, more collaboration with the Commercial team during the concept phase would have facilitated smoother progression in later stages, particularly in securing alignment across teams.
            </p>
            <p class="sans-serif-body-2 fade-in">
                <strong>The Solution</strong>
                <br>
                Phase one of Curated Categories introduced a more engaging and visually immersive browsing experience, blending commerce with editorial-style content. Notable features included:
                <br><br>
                Full-Bleed Video &amp; Content – Immersive visuals and campaign-driven storytelling.<br>
                Product Refinement &amp; Cross-Category Discovery – Helping customers find relevant items more easily.<br>
                Interactive Shoppable Hotspots – Enabling customers to explore and shop featured looks seamlessly.<br>
                Pinned &amp; Hero Products – Highlighting key products to drive engagement.<br>
                ‘Coming Soon’ Product Features – Creating anticipation and aligning with ASOS Drops.<br>
                Enhanced Product Tile Design – Showcasing products dynamically with swipeable images and catwalk videos.<br>
                Integrated ‘Buy the Look’ Feature – A visually immersive way to shop complete outfits.<br>
            </p>
        </div>
    </div>

    <!-- Image 3 & 4 -->
    <div class="w-full mt-16 sm:my-16 grid grid-cols-1 md:grid-cols-2 gap-8">
        <img src="img/placeholder-cs-sq.jpg" alt="" class="zoom-effect w-full h-full object-cover border border-gray-200">
        <img src="img/placeholder-cs-sq.jpg" alt="" class="zoom-effect w-full h-full object-cover border border-gray-200">
    </div>

    <!-- Text 3 -->
    <div class="container w-full mx-auto grid grid-cols-12">
        <div class="sm:col-start-3 sm:col-span-8 col-span-12 space-y-6 text-classic-grey">
            <p class="sans-serif-body-2 fade-in">
                <strong>Results &amp; Impact</strong>
                <br><br>

                The prototype designs secured buy-in across the business, leading to dedicated teams and budget for execution. The initiative set a new benchmark for digital product presentation at ASOS. Early results from testing showed:
                <br><br>
                Objective Testing: Updates to the placement of PLP labels off product images didn’t negatively impact key KPIs, confirming no detrimental effects to the overall user experience.<br>
                Swipeable Image Gallery (iOS): Around 45% of users interacted with the feature, resulting in a reduction in clicks through to the PDP, but an increase in products saved for later. While this didn’t directly boost the add-to-bag rate, it indicated a shift in user behaviour towards more deliberate product discovery.<br>
                Positive User Behaviour: Despite no significant impact on conversion rates, the visual and interactive changes helped create a more engaging experience, evidenced by positive qualitative feedback and small gains across KPIs.<br><br>
                The project also contributed to:
                <br><br>
                Increased time spent on category pages.<br>
                Higher engagement with interactive features like shoppable hotspots.<br>
                A positive shift in product discovery behaviour, including an increase in saved items for later<br>
            </p>
            <p class="sans-serif-body-2 fade-in">
                <strong>Learnings &amp; Next Steps</strong>
                <br><br>
                This project highlighted the importance of combining inspiration with a seamless e-commerce journey. Although some features, such as the swipeable gallery, didn’t immediately impact purchases, they successfully shifted customer discovery behaviours, which could lead to higher conversion over time. Moving forward:<br><br>

                The feature was rolled out to 100% of iOS customers in August 2023, with plans to increase interaction through app-based visibility.<br>
                Continued monitoring of feature engagement and user behaviour is ongoing, with a focus on optimising the customer journey post-save for later (SFL).<br>
                Further exploration into optimising the transition from saved items to actual purchases to drive higher add-to-bag and buying conversion.<br>
                Future iterations of Curated Categories will build upon this foundation, exploring more AI-driven personalisation and deeper integration with ASOS’s For You feed to further tailor the shopping experience.

            </p>
        </div>
    </div>

    <!-- Disclaimer text -->
    <div class="w-full mt-0 sm:my-16 grid grid-cols-1 md:grid-cols-2 gap-8">
            <p class="w-full sans-serif-body-4 text-classic-grey italic font-extralight">
                *Figures based on forecasted projection
            </p>
    </div>


</section>
<!-- Text + image section end -->

<!-- CONTENT END -->



{% include "snippets/case_study_navigator.html" %}


